<style>
    .field > label {
        min-width: 230px;
    }

    #prog-btn > div {
        width: 180px;
    }
</style>

<k-form ng-model="$ctrl.vm" k-on-submit="$ctrl.update">
   {{$ctrl.vm}}
    <!--call-on-before-saved="UpdateAuthentication()" >-->
    <!-->
        <!--exclude-from-compare="[$ctrl.vm.data.PROG_BTN_MOD]"-->
    <section>
         <div class="field" ng-if="$ctrl.vm.hasOwnProperty('LOCK_FP')">
            <label >Front Panel</label>
            <k-on-off show-value-on-disable="true" active-text="Locked" inactive-text="Un-locked"
                    init-val="{{$ctrl.vm.data['LOCK-FP']}}" value-to-listen="$ctrl.vm.data['LOCK-FP']"
                    on-click="toggleFrontPanel(insideVal)" height="30" width="153" enabled="true"></k-on-off>
        </div>
        <div class="field">
            <label for="NAME">Device Name</label>
            <input k-device-name
                    id="NAME"
                    type="text"
                    ng-model="$ctrl.vm.deviceName"
                    name="deviceName" >
        </div>
        <div class="field" style="margin-top: 15px">
            <label>Model</label>
            <span class="answer" style="font-weight: bold; font-size: larger;">{{::$ctrl.vm.deviceModel}}</span>
        </div>
    </section>
    <hr class="horizontal-separator" ng-class="{'hidden': !fileSystemEnable()}"/>
    <section ng-class="{'hidden': !fileSystemEnable()}">
        <div class="field">
            <label>Firmware version</label>
            <label class="answer">{{::$ctrl.vm.firmwareVersion}}</label>
        </div>
    </section>
    <section ng-if="$ctrl.vm.data.hasOwnProperty('PROG_BTN_MOD')">
        <div class="field">
            <label for="PROG_BTN_MOD">Programmable buttons mode</label>
            <k-on-off id="PROG_BTN_MOD" show-value-on-disable="true" init-val="{{$ctrl.vm.data.PROG_BTN_MOD}}"
                    on-click="toggleProgBtn(insideVal)" active-text="Programmable" inactive-text="Default" height="30"
                    width="170" enabled="true"></k-on-off>
        </div>
    </section>
    <hr class="horizontal-separator"/>
    <security-settings
            is-authentication-enabled="$ctrl.vm.isAuthenticationEnabled"
            toggle-authentication="$ctrl.vm.actions.toggleSecurity"
    ></security-settings>


</k-form>