<div id="nav-bar">
    <div id="kramer-logo">
        <a style="font-size: 4.4vh; text-decoration: none; color: white;" target="_blank"
                href="http://www.KramerAV.com/" class="icon icon-LOGO-KRAMER">
        </a>
    </div>
    <div id="page-title" class="app-main-title-font-size"
            ng-dblclick="enableDebug()">Kramer {{$ctrl.deviceModel}} Switcher{{$root.hasRoomController ? '/Controller': ''}}
    </div>
    <div id="remote-mute" ng-if="$ctrl.vm.GLOBAL_MUTE">
        <span><i class="icon-warning"></i>GLOBAL MUTE mode is active<i class="icon-warning"></i>
        </span>
    </div>

    <div id="resize-icon-area">
        <k-security-toggle
                type="icon"
                is-authentication-enabled="$ctrl.isAuthenticationEnabled"
                toggle-authentication="$ctrl.toggleAuthentication(data)">
        </k-security-toggle>

        <k-resize></k-resize>
    </div>
</div>