<div class="about">
    <table>
        <tr class="aboutLogo">
            <td style="vertical-align: top;">
                <i class=" icon-LOGO-KRAMER"    style="font-size: 160px; color: #585858;"/>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <div style="font-size: 30px;">WEB VERSION <span class="aboutVersion">{{webVersion}}</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="aboutTitle2">Kramer Electronics Ltd.</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="aboutText">3 Am VeOlamo St.</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="aboutText">Jerusalem, Israel, 9546303</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="aboutText">Tel: +972-73-2650200</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="aboutText">Fax: +972-2-6535369</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="aboutText">Email: <a class="about-link-color" href="mailto:info@kramerav.com">info@KramerAV.com</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="aboutText">Web: <a class="about-link-color" target="_blank"
                                                           href="http://www.kramerAV.com">http://www.KramerAV.com</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div class="aboutFooter">&copy; {{$ctrl.year}} - Kramer Electronics Ltd. all rights reserved.</div>
</div>
